.Picksubrace {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
  
  .subrace-button {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .subrace-button:hover {
    transform: scale(1.3); 
  }

  #wood-elf {
    background-color: #015a07; 
    color: white;
  }

  #high-elf {
    background-color: #f2d202; 
    color: white;
  }

  #drow {
    background-color: #575758; 
    color: white;
  }

  #hill-dwarf {
    background-color: #02bf1b; 
    color: white;
  }

  #mountain-dwarf {
    background-color: #da3a00; 
    color: white;
  }

  #lightfoot {
    background-color: #3700de; 
    color: white;
  }

  #stout {
    background-color: #01790f; 
    color: white;
  }

  #forest-gnome {
    background-color: #015927; 
    color: white;
  }

  #rock-gnome {
    background-color: #c94b02; 
    color: white;
  }